/* html, body {
  background: #111
} */

* {
  box-sizing:border-box;
}

.canvases-div {
  position: relative;
}

.canvas-div {
  /* background: #EEE; */
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: flex-end;
  width: 1920px;
  min-height: 300px;
}

#homepage {
  background: #0B3954;
  color: #BFD7EA;
}
